.ico-list-wrapper {
  display: flex;
}

.ico-list-wrapper {
  border: 0 !important;
}

.home-header-filter-wrapper {
  position: relative;
  height: 50px;
}

.home-header-sort-dropdown-wrapper {
  position: absolute;
  right: 0;
  top: 0;
}

.home-header-title {
  font-size: 23.5px;
  text-align: left;
  color: #0c1020;
  margin-bottom: 38px;
}

.search-input-wrapper {
  width: 530px;
  margin-bottom: 45px;
}

.home-tab-menu {
  position: relative;
}

.home-tab-menu a.item:last-of-type {
  position: absolute !important;
  right: 0;
  border: 0 !important;
  font-size: 16px;
  background-color: transparent !important;
  text-align: center;
  color: #6096ff !important;
}

.home-search-input {
  border: 0 !important;
  border-bottom: 1px solid #3643a0 !important;
  border-radius: 0 !important;
}

.home-search-input-icon {
  color: #3643a0 !important;
}
