.pluto-banner {
  margin: 0 auto;
  background-size: cover;
  width: 1180px;
  height: 350.5px;
  background-image: url("https://dd2gn9pwu61vr.cloudfront.net/final-banner-background@2x.jpg");
  color: #fff;
  padding: 30px;
  border-radius: 5px;
}

.ico-list-wrapper {
  display: flex;
}

.ico-list-wrapper {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
