$card-horizontal-padding: 25px;
$logo-image-width: 65px;
$logo-image-margin-right: 20px;

.ico-card-item-wrapper {
  border-radius: 10px;
  background-color: #ffffff;
  border: solid 1px #d8dde7;
  overflow: hidden;

  .ico-card-item-title-box {
    position: relative;
    display: block;
    color: #333;
    height: 132.5px;
  }

  .ico-card-item-title-left-box {
    position: absolute;
    top: 32px;
    left: $card-horizontal-padding;
    width: $logo-image-width + $logo-image-margin-right;
  }

  .ico-card-item-non-image-title-box {
    padding: $card-horizontal-padding;
    display: block;
  }

  .ico-card-item-title-right-box {
    position: absolute;
    top: 32px;
    left: $card-horizontal-padding + $logo-image-width + $logo-image-margin-right;
    right: $card-horizontal-padding;
  }

  .ico-card-item-img-wrapper {
    display: inline-block;
    vertical-align: top;
    width: $logo-image-width;
    height: $logo-image-width;
    border-radius: 50%;

    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .ico-card-item-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 7.5px;

    a {
      color: #0c1020;
    }
  }

  .average-rating {
    font-weight: 500;
    color: #0c1020;
  }

  .average-count {
    font-size: 14px;
    text-align: left;
    color: #666d7c;
  }

  .ico-card-item-rating-box {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .field-wrapper {
    font-size: 14px;
    color: #6096ff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .content-wrapper {
    font-size: 15px;
    line-height: 1.5;
    color: #666d7c;
    margin-bottom: 20px;
    height: 90px;
    padding: 0 $card-horizontal-padding;
  }

  .content-text-wrapper {
    line-height: 22.5px;
    height: 100%;
    white-space: pre-wrap;
    word-break: break-all;
  }

  .link-buttons-wrapper {
    display: flex;
    padding: 0 $card-horizontal-padding;
    margin-bottom: 21px;
  }

  .link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 158px;
    height: 48.5px;
    border-radius: 5px;
    border: solid 1px #d8dde7;
    color: #9aa3b5;
    font-size: 13px;

    &:hover {
      background-color: #f5f7fb;
    }
  }

  .link-button + .link-button {
    margin-left: 17.5px;
  }

  .meta-information-wrapper {
    position: relative;
    display: block;
    padding: 0 $card-horizontal-padding 23.5px $card-horizontal-padding;
  }

  .fromNow {
    font-size: 14px;
    line-height: 1.93;
    color: #48d2a0;
  }

  .comment-info {
    position: absolute;
    right: $card-horizontal-padding;
    top: 0;
    bottom: 0;
    font-size: 15px;
    text-align: left;
    line-height: 27px;
    color: #9aa3b5;
  }

  .comment-count {
    color: #6096ff;
  }

  .ico-card-item-modal-link {
    display: block;
    height: 100%;
    cursor: pointer;
  }

  .ico-card-icon {
    margin-right: 10px;
    margin-top: 1.5px;
  }
}
