.new-post-date-box {
  display: inline-block;
  vertical-align: top;
}

.new-post-date-selector > div {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;

  &:first-of-type {
    margin-left: 0;
  }
}

.after-create-post-wrapper {
  padding-top: 30px;
}
