.post-list-item-ico-date {
  font-size: 13px;
  font-weight: 300;
  color: #006621;
}

.post-list-item-content {
  font-size: 13px;
  font-weight: 300;
  color: #333;
}

.post-list-item-label {
  font-size: 13px;
  font-weight: 700;
  color: #000;
}

.post-list-item-item {
  margin: 3px 0;
}

.post-list-item-link {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;

  &:first-of-type {
    margin-left: 0;
  }
}

.post-list-item-item {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;

  &:first-of-type {
    margin-left: 0;
  }
}
