.post-list-item-ico-date {
  font-size: 13px;
  font-weight: 300;
  color: #006621;
}

.post-list-item-content {
  font-size: 13px;
  font-weight: 300;
  color: #333;
}

.post-list-item-label {
  font-size: 13px;
  font-weight: 700;
  color: #000;
}

.post-list-item-item {
  margin: 3px 0;
}

.post-list-item-link {
  display: inline-block;
  vertical-align: top;
  margin-left: 3px;

  &:first-of-type {
    margin-left: 0;
  }
}

.post-list-item-item {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;

  &:first-of-type {
    margin-left: 0;
  }
}

.sort-option-header {
  color: #767676;
}

.sort-option-item {
  margin: 10px 0;
}

.post-pagination-wrapper {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.pagination-item {
  display: inline-block;
  vertical-align: top;
  flex-basis: 1;
  cursor: pointer;
  font-size: 14px;
  margin: 0 5px;
  padding: 3px 5px;
  border: 1px solid #efefef;
  border-radius: 3px;

  &.active {
    color: #2185d0;
    font-weight: bold;
  }
}
