.ico-post-content-wrapper {
  padding: 47.5px 59px 185px 59px;

  .header {
    position: relative;
    height: 113px;

    .logo-image-wrapper {
      display: inline-block;
      vertical-align: top;
      width: 81.5px;
      height: 81.5px;
      border-radius: 50%;
      border: solid 1px #f1f3f6;
      margin-right: 24px;

      .logo-image {
        width: 81.5px;
        height: 81.5px;
        border-radius: 50%;
      }
    }

    .header-left-box-information {
      display: inline-block;
      vertical-align: top;

      .header-title {
        font-size: 27.5px;
        font-weight: bold;
        color: #0c1020;
        margin-bottom: 10.5px;
      }

      .header-fields {
        font-size: 18px;
        text-align: center;
        color: #6096ff;
      }
    }

    .header-right-box {
      position: absolute;
      top: 0;
      right: 0;

      .rating-wrapper {
        margin-bottom: 6px;
      }

      .average-rating-value {
        display: inline-block;
        margin-left: 8px;
        font-size: 16.8px;
        font-weight: 500;
        color: #0c1020;
      }

      .average-rating-count {
        font-size: 14px;
        color: #666d7c;
        text-align: right;
      }
    }
  }

  .post-content-comment-item-wrapper {
    .meta-information-box {
      display: flex;
      align-items: center;
      position: relative;
      height: 35px;
      margin-bottom: 8px;

      .username {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.33;
        color: #0c1020;
        margin-right: 14px;
      }

      .from-now {
        font-size: 14px;
        line-height: 1.71;
        text-align: left;
        color: #9aa3b5;
      }

      .rating-information {
        position: absolute;
        right: 0;
        top: 10px;
      }
    }

    .content-wrapper {
      font-size: 14px;
      line-height: 1.39;
      text-align: left;
      color: #666d7c;
    }
  }

  .load-more-comments {
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    background-color: #f5f7fb;
    border: solid 1px #d8dde7;
    font-size: 16px;
    text-align: center;
    color: #9aa3b5;
    cursor: pointer;
    margin-top: 20px;
  }

  .comments-information-wrapper {
    padding-bottom: 10px;
    margin-bottom: 20.5px;
    border-bottom: solid 1px #d8dde7;

    .comment-count {
      font-size: 18px;
      font-weight: bold;
      line-height: 1.33;
      color: #0c1020;
    }

    .comment-count-number {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.5;
      color: #6096ff;
    }
  }

  .ico-period-wrapper {
    margin-top: 34px;
    margin-bottom: 22.5px;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #0c1020;
  }

  .ico-period-date-range {
    font-size: 18px;
    text-align: left;
    color: #9aa3b5;
  }

  .content-description {
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    color: #666d7c;
    margin-bottom: 72.5px;
  }

  .comment-input-wrapper {
    margin-bottom: 41px;
  }

  .post-content-comment-item-wrapper + .post-content-comment-item-wrapper {
    margin-top: 20px;
  }
}
